body {
    background-color: black;
    background-image : url("../images/background_image.jpg");
    background-size : cover;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

.fa-sharp{
    display:block;
    text-align:center;
    color:white;
}

h1{
    color: whitesmoke;
    font-size: 3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 100px;
}

h2{
    color:white;
    text-align: center;
    padding:20px;
    margin: 20px;
    font-size: 1.5em;
    line-height: 1.6;
    
}

.references h2{
    color: black;
    text-decoration: underline;
    padding: 10px;
    text-align:center;
    font-size: 1.5em;
    font-weight: bold;
}


p{
    color: black;
    background-color: rgb(244, 244, 232);
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6;
    padding: 50px;
    margin-bottom: 50px;

}

.references{
    margin: 50px;
    padding: 20px;
    color : black;
    background-color:white;
    text-align:center;
}

.references p{
    background-color: beige;
    font-weight: bold;
}


a.skip{

    display:inline-block;
    margin-top: 2em;
    color:white;

    /*to position the element at the centre of the screen*/
    position:relative;
    left:50%;
    transform: translate(-50%,-50%);
   
}

nav{
    margin-bottom: 50px;
    justify-content:center;
    position:relative;
}

nav a{
    color:beige;
    font-size: 1em;
    display:block;
    text-align:center;
    padding:0.5em;
}

nav a:active{
    color: white;
    font-size: 1.5em;
}

nav a.active{
    color: orange;
    font-size: 1.5em;
}

.seeMore{
    color:white;
    padding:10px;
    font-size: 1.2em;
}

.seeMore:hover{
    color:orange;
}

main a{
    display: block;
    color:beige;
    font-size: 2em;
    text-align:center;
}

main a:hover{
    color:orange;
}

img{
    display : block;
    width: 100%;
    border: 2px solid white;
}

aside{
    color:white;
    display:block;
    text-align:center;
}


figcaption{
    color: black;
    text-align: center;
    background-color: white;
    line-height: 1.6;
}

.flex-container{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    row-gap: 80px;
}

.flex-item{
    width:100%;
}

figure{
    border: 10px solid white;
}

.grid-container1{

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.25fr 1fr 0.25fr;
    justify-content:center;
    justify-items:center;
    align-items:center;
    align-content:center;
    max-width:100%;
}

.grid-container2{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr 0.25fr;
    justify-content:center;
    justify-items:center;
    align-items:center;
    align-content:center;
}

.grid-item1{
    grid-row: 1;
    width:100%;
}

.grid-item2{
    grid-row: 2;
    width:80%;
}

.grid-item3{
    grid-row: 3;
    width:100%;
}

.grid-item4{
    grid-row: 4;
    width:100%;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.main-image {
    animation: fadeIn  ease 0.5s;
    animation-duration: 5s;
}


/*added to make the form visible*/
footer{
    color:white;
}

footer p{
    color:black;
    padding:10px;
    width:100%;
    background-color: beige;
    font-weight: bold;
}

@media (prefers-reduced-motion){
   .main-image{
    animation:none;
   } 
}


/*for desktop view--later use; incomplete*/
@media screen and (min-width: 1700px){


    h1{
        padding: 40px;
        font-size: 4em;
    }
    
    img{
        width: 30%;
        margin-bottom: 50px;
        margin-top: 70px;
        padding:10px;
    }

    img:hover{
        transform: scale(1.1);
    }

    figcaption{
        color: black;
        text-align: center;
        background-color: white;
        border: orange 2px double;
        font-weight:bold;
        position: relative;
        left: 25%;
    }

    a.skip{
         left: 45%;
    }

    nav a:hover{
        color:orange;
    }


    a.skip:hover{
        color:orange;
    }

    p{
        margin: 10px;
        width:80%;
        margin-left:auto;
        margin-right:auto;
    
    }

    .seeMore{
        position: relative;
        left: 37.5%;
    }
    

}


    
